.motto {
  margin-top: -20px;
  font-size: 1.3em;
  font-style: italic;
}

.guest-login {
  padding-top: 5em;
  font-size: 1.4em;
  color: gray;
}

.fb-login {
  padding-top: 15em;
}

.left {
  display: inline-block;
  float: left;
}

.right {
  display: inline-block;
  float: right;
}

.event-address {
  display: inline-block;
  padding-left: 10px;
  text-align: left;
}

.small-margin-top {
  margin-top: 1em;
}

.one-half-font {
  font-size: 1.5em;
}

.no-vert-padding {
  padding-top: 0;
  padding-bottom: 0;
}
